.arrow_box_me {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 12px;
	background-color: #7FD2FF;
	-webkit-border-radius: 30px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 30px;
	-moz-border-radius-bottomright: 0;
	border-radius: 30px;
	border-bottom-right-radius: 0;
}


.arrow_box_other {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 12px;
	background-color: #FFC6C6;
	-webkit-border-radius: 30px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 30px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 30px;
	border-bottom-left-radius: 0;
}
